# Python
*.pyc
*.pyo
__pycache__/
*.so

# Odoo
*.log
*.pot
*.mo
*.pyc
*.egg-info/

# Sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~
*.tmp
*.bak

# Entornos
venv/
odoo-venv/
.env

# Editores
.vscode/
.idea/

# Base de datos
*.dump
*.backup
