.oe_street_num {
    background-color: #ebeeec !important;
    max-width: 100px;
    margin-left: 5px;
}

.oe_street_sel {
    background-color: #ecceff !important;
    max-width: 200px;
    margin-left: 5px;
}